@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700&display=swap');

$green_soft: var(--green-soft);
$white: var(--white);
$black: var(--black);
$shadow_box_sale: var(--shadow-box-sale);
$font_poppins: var(--font-poppins);
$font_nunito: var(--font-nunito);

$width_md : 768px;

@mixin mobile {
	@media (max-width: #{$width_md}){
		@content
	}
}

:root {
	--green-soft: #1cbfc3;
	--white: #ffffff;
	--black: #000000;
	--shadow-box-sale: 0px 0px 15px 1px #AAAAAA 25%;
	--font-poppins: 'Poppins', sans-serif;
	--font-nunito: 'Nunito', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


.container {
	width: 90%;
	margin: 0.5rem auto;
	position: relative;

	@include mobile {
		width: 100%;
		overflow-x: hidden;
	}

	header {
		display: flex;
		height: 100px;
		align-items: center;
		justify-content: space-between;

		@include mobile {
			padding: 0 10px;
		}

		.navigasi {
			width: 350px;

			@include mobile {
				position: absolute;
				right: -350px;
				top: 100px;
				z-index: 999;
				background: $white;
				box-shadow: 7px 7px 15px rgba(217, 217, 217, 1.0),
						-7px -7px 15px $white;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				transition: 0.7s all;
				border: 3px solid $black;

				&.active {
					right: 0;
				}
			}

			ul {
				display: flex;
				justify-content: space-between;

				@include mobile {
					flex-direction: column;
					align-items: center;
				}

				li {
					list-style: none;
					font-weight: 600;

					@include mobile {
						margin: 15px 0;
					}

					a {
						text-decoration: none;
						color: $black;
						
						&.active {
							color: $green_soft;
						}
					}
				}
			}
		}

		.menu-bar {
			display: none;
			cursor: pointer;
			position: relative;

			@include mobile {
				display: block;

				span {
					display: block;
					width: 30px;
					height: 5px;
					background: $black;
					border-radius: 10px;
					transition: 0.7s all;

					&:nth-child(2) {
						width: 25px;
						margin-top: 5px;
					}

					&:nth-child(3) {
						margin-top: 5px;
					}
				}

				&.active {

					span {

						&:nth-child(1) {
							transform: rotate(45deg);
						}

						&:nth-child(2) {
							display: none;
						}

						&:nth-child(3) {
							transform: rotate(-45deg) translate(7px, -7px);
						}
					}
				}
			}
		}
	}

//css home page
	.intro {
		display: flex;

		@include mobile {
			width: 100%;
			flex-direction: column-reverse;
			align-items: center;
		}

		.container-intro {
			display: flex;
			align-items: center;
			width: 50%;

			@include mobile {
				width: 100%;
				justify-content: center;
			}

			.box-intro {
				@include mobile {
					display: flex;	
					flex-direction: column;
					align-items: center;
					text-align: center;
				}

				.head-text-intro {
					font-weight: 800;
					font-family: $font_nunito;
					font-size: 48px;
					width: 481px;
					letter-spacing: -2%;
					line-height: 65.47px;

					@include mobile {
						line-height: 50px;
						width: 90%;
						font-size: 38px;
					}
				}

				.text-intro {
					margin-top: 10px;
					font-size: 16px;
					height: 72px;
					width: 317px;
				}

				.buttons-intro {
					margin-top: 10px;
					
					a {

						.button-login {
							width: 174px;
							height: 66px;
							background: $green_soft;
							border: none;
							color: $white;
							font-weight: 600;
							font-size: 20px;
							letter-spacing: 0.1em;
							border-radius: 10px;
							margin-right: 10px;
						}

						.button-cek {
							width: 174px;
							height: 66px;
							background: $green_soft;
							border: 4px solid $green_soft;
							background: $white;
							color: $green_soft;
							font-weight: 600;
							font-size: 20px;
							letter-spacing: 0.1em;
							border-radius: 10px;
						}
					}
				}
			}
		}

		.image-intro {
			width: 50%;
			display: flex;
			justify-content: center;
			position: relative;

			@include mobile {
				width: 100%;	
			}

			img {
				z-index: 2;

				@include mobile {
					width: 100%;	
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				width: 186px;
				height: 179px;
				background: rgba(28, 191, 195, 0.25);
				border-radius: 50%;
				box-shadow: 0px 4px 100px 100px rgba(28, 191, 195, 0.25);

				@include mobile {
					top: 30%;
					box-shadow: 0px 4px 50px 50px rgba(28, 191, 195, 0.25);
				}
			}
		}
	}

	.cek-pulsa {
		padding-top: 10%;

		@include mobile {
			margin-top: 100px;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.text-head__cek-pulsa {
			font-family: $font_poppins;
			text-align: center;
			font-weight: 600;
			letter-spacing: 0.1em;
			line-height: 30px;
			font-size: 20px;
		}

		.content-cek-pulsa {
			margin-top: 5%;
			height: 369px;
			width: 100%;
			display: flex;
			flex-direction: column;

			.info-cek-pulsa {
				width: 100%;
				height: 69px;
				display: flex;
				justify-content: center;

				.info-pembelian {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 20px;
					line-height: 30px;
					letter-spacing: 0.1em;
					height: 69px;
					width: 239px;
					color: $white;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					background: $green_soft;
				}
			}

			.box-cek-pulsa {
				width: 100%;
				height: 300px;
				box-shadow: 0px 0px 15px 1px rgba(170, 170, 170, 0.25);
				border-radius: 50px;
				z-index: 99;

				@include mobile {
					height: auto;
					padding-bottom: 20px;
				}

				.text-title__box-cek-pulsa {
					width: 100%;
					text-align: center;

					img {
						margin-top: 10px;
					}

					h3 {
						font-weight: 700;
						font-size: 20px;
						color: $green_soft;
					}
				}

				.form-cek-pulsa {
					display: flex;
					width: 100%;
					display: flex;
					justify-content: space-around;
					flex-wrap: wrap;

					.form-group {
						display: flex;
						flex-direction: column;
						justify-content: space-around;

						label {
							font-weight: 700;
							font-size: 20px;

							@include mobile {
								margin-top: 10px;
							}
						}

						input {
							width: 263px;
							height: 48px;
							border: none;
							box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, .1);
							font-size: 20px;
							font-weight: 400;
							line-height: 30px;
							text-align: center;
						}

						&:nth-child(4) {

							input {
								background: #efefef;
							}
						}

						select {
							width: 263px;
							height: 48px;
							border: none;
							box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, .1);
							font-size: 20px;
							font-weight: 400;
							line-height: 30px;
							text-align: center;
						}

						.button-submit {
							margin-top: 20px;
							width: 174px;
							height: 66px;
							border-radius: 10px;
							background: $green_soft;
							display: flex;
							justify-content: center;
							align-items: center;
							line-height: 30px;
							letter-spacing: 0.1em;
							font-weight: 600;
							color: $white;
							cursor: pointer;
						}
					}
				}
			}
		}
	}

	.metode-bayar {
		width: 100%;
		padding-top: 10%;

		@include mobile {
			margin-top: 70%;		
		}

		.text-head__metode-bayar {
			position: relative;
			width: 100%;
			text-align: center;
			font-weight: 700;
			font-size: 36px;

			@include mobile {
				font-size: 28px;
			}

			&:before {
				content: '';
				position: absolute;
				width: 227px;
				border: 7px solid $green_soft;
				border-radius: 10px;
				bottom: -15px;
				left: 13%;

				@include mobile {
					width: 100px;
					border: 3px solid $green_soft;
				}
			}
		}

		.content-metode-bayar {
			margin-top: 10%;
			display: flex;
			align-items: center;

			@include mobile {
				flex-direction: column;	
			}

			img {
				width: 749px;

				@include mobile {
					width: 100%;	
				}
			}
			
			p {
				padding-left: 20px;
				width: 370px;
				height: 180px;
				font-size: 24px;
				font-weight: 600;
				line-height: 36px;
			}
		}

		.content-bank {
			width: 100%;
			height: 400px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			padding: 5%;

			@include mobile {
				margin-top: 100px;
				height: auto;
				align-items: center;
			}

			.img-bank {
				width: 242px;
				height: 84px;

				@include mobile {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50%;
				}

				img {
					@include mobile {
						width: 100px;
					}
				}
			}
		}
	}
//end css home page

//css layanan page
	.intro-layanan {
		width: 100%;

		@include mobile {
			display: flex;
			flex-direction: column;
		}

		.container__intro-layanan {
			display: flex;
			height: 550px;

			@include mobile {
				width: 100%;
				align-items: center;
				flex-direction: column;
			}

			.img__intro-layanan {
				width: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				@include mobile {
						width: 90%;
				}
				
				img {
					width: 585px;
					height: 414px;

					@include mobile {
						width: 100%;
					}
				}
			}

			.text__intro-layanan {
				width: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				@include mobile {
						width: 90%;
				}

				p {
					width: 383px;
					height: 118px;
					font-weight: 500;
					font-size: 20px;
					line-height: 30px;
					text-align: center;
					letter-spacing: -0.02em;
				}
			}
		}

		.container-arrow {
			display: flex;
			justify-content: center;

			@include mobile {
				margin-top: 100px;
			}

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 68px;
				height: 61px;
				background: rgba(196, 196, 196, 1.0);
				border-radius: 50%;
				cursor: pointer;
			}
		}
	}

	.content-layanan {

		.head__content-layanan {
			margin-top: 100px;
			width: 100%;
			text-align: center;
			margin-bottom: 70px;
			
			h2 {
				font-weight: 700;
				font-size: 32px;
				line-height: 48px;

				@include mobile {
					font-size: 25px;
				}
			}
		}

		.body__content-layanan {
			display: flex;
			justify-content: space-between;
			width: 100%;

			@include mobile {
				width: 100%;
				align-items: center;
				flex-direction: column;
			}

			.box__content-layanan {
				width: 49%;
				height: 574px;
				border-radius: 20px;
				background: rgba(28, 191, 195, 0.2);
				padding: 10px 10px;

				@include mobile {
					width: 90%;
					height: auto;
					text-align: center;

					&:nth-child(2) {
						margin-top: 10px;
					}
				}

				.layanan {
					height: 50%;
					width: 100%;
					display: flex;

					@include mobile {
						display: flex;
						flex-direction: column;
					}

					.logo {
						width: 15%;
						display: flex;
						justify-content: center;
						padding-top: 15px;
						position: relative;

						@include mobile {
							width: 100%;
						}

						span {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 70px;
							height: 70px;
							border-radius: 50%;
							background: $white;
						}
					}

					.text-layanan {
						width: 85%;
						padding-top: 20px;

						@include mobile {
							width: 100%;
						}

						h3 {
							font-size: 36px;
							font-weight: 700;
							line-height: 54px;
						}

						p {
							margin-top: 50px;
							font-size: 20px;
							font-weight: 600;
							line-height: 30px;

							@include mobile {
								margin-top: 20px;
							}
						}
					}
				}
			}
		}
	}
//end css layanan page

//css daftar produk page
	.intro-daftar-produk {
		display: flex;

		@include mobile {
			flex-direction: column-reverse;
		}

		.container__content-daftar-produk {
			display: flex;
			align-items: center;

			.text__content-daftar-produk {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				height: auto;

				p {
					width: 396px;
					font-weight: 700;
					font-size: 32px;
					text-align: center;
					line-height: 48px;
				}	

				.img {
					margin-top: 50px;
				}

			}
		}

		.img__content-daftar-produk {
			width: 100%;

			img {
				width: 90%;
			}
		}
	}

	.daftar-produk {
		margin-top: 50px;

		.box-content-daftar-produk {
			margin-top: 40px;

			.text-head-box {
				width: 100%;
				text-align: center;

				h1 {
					font-size: 3em;
					font-weight: 700;
				}
			}

			.form-cek {
				width: 100%;
				text-align: center;
				margin: 15px 0px;

				select {
					height: 40px;
					width: 200px;
					border-radius: 10px;
					font-weight: bold;
				}
			}

			.table-produk {
				display: flex;
				margin-top: 20px;

				@include mobile {
					flex-direction: column-reverse;
				}

				table {
					border-collapse: collapse;
					flex: 1;

					thead {

						tr {
							background: rgba(250, 250, 250, .7);
							height: 40px;
							box-shadow: 1px 3px 6px #ececf6;
						}
					}

					tbody {

						tr {

							td {
								height: 40px;
								font-size: 12px;
								text-align: center;
								padding: 5px;
							}
						}
					}
				}

				.provider {
					flex: 1;
					display: flex;
					justify-content: center;

					img {
						height: 150px;
						width: 300px;
					}
				}

				&:nth-child(odd) {
					flex-direction: row-reverse;

					@include mobile {
						flex-direction: column-reverse;
					}
				}
			}
		}
	}
//end css daftar produk page

//css tentang page
	.intro-tentang {
		display: flex;

		@include mobile {
			flex-direction: column;
		}

		.text__content-tentang {
			width: 50%;

			@include mobile {
				width: 100%;
				padding: 0 10px;
			}

			h2 {
				font-family: $font_nunito;
				font-weight: 700;
				font-size: 36px;
			}

			p {
				font-weight: 500;
				font-size: 20px;
				line-height: 28.15px;
				margin-top: 15px;
			}
		}

		.img__content-tentang {
			width: 50%;
			display: flex;
			justify-content: center;
			position: relative;

			@include mobile {
				margin-top: 25px;
				width: 100%;
			}

			svg {
				position: absolute;

				@include mobile {
					width: 100%;
				}

			}

			img {
				width: 407px;
				height: 493px;
				z-index: 100;

				@include mobile {
					width: 100%;
				}
			}
		}
	}

	.social-media {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 20px;

		span {
			width: 60px;
			height: 60px;
			display: block;
			border-radius: 50%;
			box-shadow: 7px 7px 15px rgba(217, 217, 217, 1.0),
						-7px -7px 15px $white;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			margin: 0 15px;
		}
	}
//end css tentang page

	footer {
		margin-top: 15px;
		text-align: center;

		p {

			span {
				font-size: 2em;
				padding-top: 10px;
			}
		}
	}
}